.env
__pycache__
.venv
.env.example
.env.prod
.env.dev
.env.test
.env.local
.env.prod.example
.env.dev.example
.env.test.example
.env.local.example
.env.prod.local
.env.dev.local
.env.test.local
.env.local.local
venv